@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: white;
}

body {
  /* @apply bg-gradient-to-b from-black to-gray-950; */
  /* @apply bg-slate-950; */
  @apply bg-black;
}

.page-transition-class {
  animation: page-transition-animation 0.8s forwards;
}

@keyframes page-transition-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
